.categoryContainer {
    width: 93%;
    margin: auto;
    gap: 0.8rem;
    padding-bottom: 5rem;
    .categoryHeader {
        margin-top: 0.4rem;
        padding: 0 0.15rem;
        p {
            font-weight: 700;
            font-size: 1rem;
        }
        .filterBooks {
            gap: 0.3rem;
            p {
                font-weight: 400;
                font-size: 0.7rem;
                color: #79747e;
            }
        }
    }
    .categoryBook {
        justify-content: flex-start;
        gap: 0.6rem;
        .bookImg {
            position: relative;
            img {
                height: 128px;
            }
            .insignia {
                position: absolute;
                right: -3%;
                top: -2%;
                img {
                    height: 23px;
                }
            }
        }
        .bookInfo {
            height: 128px;
            justify-content: flex-start;
            gap: 0.3rem;
            width: 100%;
            h2 {
                font-weight: 600;
                font-size: 0.9rem;
            }
            p {
                font-weight: 300;
                font-size: 0.9rem;
            }
            .rating {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 0.15rem;
                img {
                    width: 10px;
                    height: 10px;
                    margin-bottom: 0.05rem;
                }
            }
            .price{
                font-weight: 600;
                color: $pink;
                font-size: 1rem;
            }
        }
    }
}
